<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= room.name %>
  </th>
  <td class="px-6 py-4">
    <%= room.created_at %>
  </td>
  <td class="px-6 py-4">
    <%= link_to 'Join', room_path(room), class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline' %>
  </td>
</tr>
